html {
   box-sizing: border-box;
   font-size: 16px;
}

body {
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   line-height: 1.6;
   color: var(--pico-primary-text);
}

header {
   background-color: var(--pico-secondary-background);
   color: var(--pico-primary-text);
   padding: 20px;
}

img {
   border: 1px solid #ddd;
   border-radius: 4px;
   object-fit: cover;
   max-height: 500px;
   max-width: 500px;
}

.grid {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.title {
   flex: 1;
}

.title h1 {
   margin: 0;
}

.controls {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex: 1;
   max-width: 600px;
}

#newSearch {
   height: 60px;
   margin-bottom: 10px;
   padding: 5px;
   width: 100%;
}

#history {
   height: 60px;
   padding: 5px;
   width: 100%;
   margin-bottom: 0px;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

main {
   flex: 1 0 auto;
}

footer {
   flex-shrink: 0;
   background-color: var(--pico-secondary-background);
}

/* media query for small screens */
@media screen and (max-width: 768px) {
   .grid {
      flex-direction: column;
   }

   .controls {
      width: 100%;
   }

   .controls button,
   .controls select {
      width: 100%;
   }
}