img {
   border: 1px solid #ddd;
   border-radius: 4px;
   object-fit: cover;
   max-height: 500px;
   max-width: 500px;
}

.grid {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

#title {
   flex: 1;
   /* Title takes up 75% */
}

#title h1 {
   margin: 0;
   /* Remove default margin */
}

#controls {
   display: flex;
   flex-direction: column;
 }

 #newSearch {
   padding: 5px;
   margin-bottom: 10px;
   width: 100%;
 }